<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .message{
            height: 300px;
            width: 60%;
            border: 1px solid #dddddd;
        };

    </style>
</head>
<body>
<div class="message" id="message"></div>
<div>
    <input type="text" placeholder="请输入" id="txt">
    <input type="button" value="发送" onclick="sendMessage()">
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js?ver=3.4.2"></script>
<script>

    USER_UID = "{{ uid }}";


    function sendMessage(){
        var text = $("#txt").val();
        $.ajax({
            url:'/send/msg/',
            type:'GET',
            data:{
                text: text
            },
            success:function(res){
                console.log("请求发送成功", res)
            }
        })
    }

    function getMessage(){
        $.ajax({
            url: '/get/msg/',
            data:{
                "uid":USER_UID,
            },
            type: 'GET',
            dataType:'JSON',
            success: function(res){
                // 1. 超时，没有新数据
                // 2. 有新数据，展示新数据
                // console.log("请求发送成功，返回的结果：",res);
                if(res.status)
                {
                    var tag = $("<div>");
                    tag.text(res.data)
                    $("#message").append(tag);
                }
                getMessage();
            }
        })
    }
    $(function(){
        getMessage();
        })

</script>

</body>
</html>